body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;

    background-color: var(--bg);
    color: var(--font);
}
.switch-sondage-result-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.switch-sondage-result-container div{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
}
.switch-sondage-result-container div:hover{
    transform: scale(0.95);
}
.resultats{
    display: none;
}