.App {
  text-align: center;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
  color: var(--font-color-blue);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  padding: 10px;
}
/* HEADER */
.header-vos-sondages{
  height: 100px;
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--blue);
  border: 4px solid var(--border-blue);
  border-radius: 10px;

  margin: 20px;
  padding: 10px;
}
.wrap-logo{
  margin: 10px;
}

/* user header */
.user-header{
  padding: 10px;
  margin: 10px;

  background-color: var(--dark-blue);
  color: var(--font-color-blue);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: none;
  transition: all 0.2s;
}
.user-header-icon{
  margin-bottom: 5px;
  font-size: 30px;
}
.user-header-name{
  font-size: 20px;
}
.user-header:hover{
  cursor: pointer;
  background-color: var(--border-dark-blue);
  transform: scale(0.95);
  
}
/* FOOTER */
footer{
  height: 50px;
}
/* IMG WRAPPER */
.img-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  padding: 5px;
}
.img-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* SONDAGE DIV */
.sondages-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  background-color: var(--yellow);

  padding: 20px;

  height: 100%;
  width: 90%;

  border-radius: 30px;
}
.sondage-div{
  color: var(--font-color-red);
  background-color: var(--red);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 300px;
  height: 100px;
  
  padding: 10px;
  margin: 10px;

  border: 1px solid var(--border-red);
  box-shadow: 0px 0px 7px 2px var(--box-shadow-red);
  border-radius: 10px;

  transition: all 0.2s;
}
.sondage-div:hover{
  transform: scale(1.05);
}
.sondage-div-name{
  font-size: 24px;
  font-weight: 700;
}
.sondage-div-nb-questions{
  font-size: 20px;
  font-weight: 600;
}
/* login and Register */

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}
.register-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.error{
  display: none;
  flex-direction: column ;
  background-color: #7c040421;
  color: #b82525;

  font-weight: 600;
  border: 2px solid #af2525;
  border-radius: 10px;
  padding: 5px;
}
.sondage-link{
  text-decoration: none;
  color: var(--font-color-red);
}